singularity.enabled = true
docker.enabled = false
conda.enabled = false

params {
  out_path = "$projectDir/results"  // output path
  input_object = "$projectDir/obj_input.RDS" // set here the path to the input file
  tmp_path = "$projectDir/data" // path to intermediate outputs
  min_resolution = 0.1 // min_resolution and max_resolution define the range of resolutions used to compute clusters (in increments of 0.1)
  max_resolution = 0.5
  n_subsampling = 20 // number of subsampling iterations to perform for cluster stability evaluation  
  perc_sub = 0.8 // percentage of cells to subsample from the whole dataset for cluster stability evaluation 
  jaccard_cutoff = 0.75 // Jaccard index threshold used to define cluster stability
  percent_cutoff = 0.749 // percentage of subsamplings that must meet the jaccard_cutoff to classify a cluster as stable
  minSize = 149 // cluster size must be higher than this value  
  DEscore_cutoff = 60 // minimum DEscore value
  reproducibility = "TRUE" //set to FALSE if you don't want to set the seed
}

executor{
  queueSize=10
}

process {
  container = 'docker://genevia/iterative_clustering_pipeline_r:v1.0'
  executor = 'slurm'
  memory = 100.GB
    withName: integration{
      memory = 200.GB
      cpus = 2
    }
    withName: integration_iteration{
      memory = 150.GB
      cpus = 2
    }

  
  resourceLimits = [
    memory: 600.GB,
    cpus: 10,
    time: 2.d
  ]
}
